<h1>All Jobs I Created</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Job Pickup Address</th>
      <th>Job Dropoff Address</th>
    </tr>
  </thead>
  <tbody>
    <%@job_list.each do |j|%>
    <tr>
      <td><%= j.pickup_address %></td>
      <td><%= j.dropoff_address %></td>         
    </tr>
    <%end%>
  </tbody>
</table>